# Git
.git/
.gitignore

# Node / Frontend
frontend/node_modules/
frontend/.angular/
frontend/dist/
# frontend/package-lock.json

# Python / Backend
backend/venv/
backend/*.pyc
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/db.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Other
repomix-output.xml
scripts/
README.md
